<!--Theme Google Card - Styled cards 2-->
<ion-header>
  <ion-navbar box-shadow>
      <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
      <ion-title>Google Cards</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding-top>
  <ion-grid no-padding>
    <ion-row *ngIf="data != null">
      <ion-col col-12 col-lg-4 *ngFor="let item of data.items;let i = index">
        <ion-card text-left box-shadow margin-bottom>
          <!--Card Image-->
          <div card-image>
            <img [src]="item.image" />
            <div title-block>
                <!--Card Title-->
            <h2 card-title text-capitalize  float-left>{{item.title}}</h2>
            <button ion-button button-action-shit float-right (click)="presentActionSheet(data)">
               <ion-icon name="{{item.shareIcon}}"></ion-icon>
            </button>
            </div>
          </div>
          <!--Card descriptiom-->
          <ion-card-content (click)="onEvent('onItemClick', item.title, $event)">
            <ion-card-title>
              <!--Card Subtitle-->
              <h1 card-subtitle>{{item.subtitle}}</h1>
              <!--Card Body Text-->
              <p card-body-text>{{item.description}}</p>
            </ion-card-title>
            <ion-badge float-left badge-clear>{{item.price}}</ion-badge>
            <button float-right default-button ion-button>{{item.button}}</button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
  