// Ubuntu light
@font-face {
    font-family: Ubuntu;
    src: url(../assets/fonts/ubuntu/Ubuntu-L.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

// Ubuntu Regular
@font-face {
    font-family: Ubuntu;
    src: url(../assets/fonts/ubuntu/Ubuntu-R.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

// Ubuntu Bold
@font-face {
    font-family: Ubuntu;
    src: url(../assets/fonts/ubuntu/Ubuntu-B.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}
